.custom-select {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-select .options {
  display: flex;
  gap: 10px;
}

.custom-select .option {
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 6px;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  gap: 4px;
}

.custom-select .option:hover {
  background: #e0e0e0;
}

.custom-select .option.active {
  background: #ffd700;
  color: #004d66;
}
